.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    background-color: #1B4965;
    color: #CAE9FF;
    font-size: 1.3em;
    padding: 10px;
    margin-top: 0;
}
.container li:hover{
    background-color: #ebf5fc;
}